.env
archives
assests/mpv/mpv.exe
src/backend
assests/mpv/mpv/mpv.exe
src/speech_to_text/__pycache__
src/functions/__pycache__
__pycache__/
*.py[cod]
*$py.class

# assests/crawlee/my-crawler/node_modules
node_modules
src/srcx
